* {
  box-sizing: border-box;
}

body {
  background-color: #0a3069;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: lightblue;
  border: 2px solid indigo;
}
